.App {
  text-align: center;

  
}

.navPage {
  display: fblock;
  justify-content: center;
  background-color:black;
  height: 50px

}
.navButtons {
  display: flex;
  justify-content: right;
  padding-top: 30px
}
.bondGif {
margin-top: 250px;
border-radius: 100%
}

.homeButtons {
  margin-right: 20px;
  background-color: darkgray;
  box-shadow: 5px 10px black


}

 .bondBox, .villainBox {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px
}

 .bondCard {
  background-color: rgba(0,0,0,.5) ;
	width: 90%;
	margin: 20px auto ;
	border-radius: 20px;
  color:white;
  border: 10px solid black;


}

.imageBox {
  height:190px;
  width: 250px;
  border-radius: 20%;
  
  
}

.movieBox {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 30px


}

.movieCard {
  background-color: rgba(0,0,0,.5) ;
	width: 90%;
	margin: 20px auto ;
	border-radius: 20px;
  color:white;
  border: 10px solid black;
  padding: 15px;


}


.posterBox {
  height: 250px;
  width:200px;
 

}

 .villainBox {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}

 .villainCard {
  background-color: rgba(0,0,0,.5) ;
	width: 90%;
	margin: 20px auto ;
  border: 10px solid black;
	border-radius: 20px;
  color:white;


}

.descriptionBox {
  background-color:rgb(50, 48, 48);
  border-radius: 20%;
  margin: 0 10px 0 10px;
  box-shadow: 5px 10px black
}
p {
  padding: 20px
}

.villainButtonContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;

}

.villainButton {
  background-color: black;
  width: 75px;
  padding: 5px;
  color:white;
  font-size: 14px;
  font-weight:bolder
}

  #deleteButton {
    color: white;
    background-color:#840809

  }

.formContainer {
 margin-top: 200px
}
form {
  background-image: url(https://www.maxpixel.net/static/photo/1x/Gradation-Blue-Background-Geomatri-Form-4876988.jpg);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
  color:white;
  border-radius: 10%
}

form input {
  display:block;
  padding: .50em;
  
}

.formButton {
margin-top: 20px
}