.App {
  text-align: center;

  
}

/*.page-container {
  display: flex;
  justify-content: center;
  height: 600px;
}
.bondGif {
margin-top: 150px;
border-radius: 100%
}*/

.homeButtons {
  margin-right: 20px
}

 .bondBox, .villainBox {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 30px
}

 .bondCard {
  background-color: rgba(0,0,0,.5) ;
	width: 90%;
	margin: 20px auto ;
	border-radius: 20px;
  color:white;

}

.imageBox {
  height:190px;
  width: 250px;
  border-radius: 20%;
  margin-bottom:30px
  
}

.movieBox {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px
}
.posterBox {
  height: 250px;
  width:200px
}

form {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 20em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
  color:white
}

form input {
  display:block;
  padding: 0.50em;
}

.formButton {
margin-top: 20px
}